@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.100");
}

html.dark {
  scrollbar-color: theme("colors.slate.600") theme("colors.slate.800");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.slate.800");
    border-right-color: theme("colors.slate.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.slate.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
